/*Costume css*/

/*menu*/
.logo-wrap a h2{
  font-family: Bifur; 
  font-weight: unset;
  font-size: 35px;
}

.navbar-nav li a{
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

#nav-trigger{
    width: 40px;
    background-color: #171717;
}

#nav-icon-trigger span{
    background-color:white;
}

.instagram:hover{

    color:#A333B4 !important;
}

.toUpper{
    text-transform: uppercase;
}

.facebook:hover{
    color: #4267B2 !important;
}

.twitter:hover{
    color: #1DA1F2 !important;
}

.vimeo:hover{
    color:#2A2A2A !important;
}

/*photos.html*/
.album{
    padding: 10px 11px 0px 51px
}

.pl-40{
    padding-left: 40px;
}

.works-grid.small-gutter {
    margin-left: -3px;
    margin-right: -3px;
}


@media screen and (min-width:0px) and (max-width:1180px){
    body{
        overflow:hidden;
    }
}

@media only screen and (max-width: 991px) {
    .logo-wrap a h2 {
        margin-top: 10px;
    }

    .paddingValues{
        padding: 40px 0 50px 0;
    }

    .album{
        padding: 70px 0 0; 
    }

    .nav-type-1{
        position: fixed;
    } 

    #style-1::-webkit-scrollbar
    {
        width: 0px !important;
    }
}

@media only screen and (max-width: 480px){
    .paddingValues .heading-row h2{
        font-size: 25px;
    }
    
    .logo-wrap a h2 {
        margin-top: 15px;
        font-size: 25px;
    }
}

.scrollbar
{
	/*margin-left: 30px;*/
	/*float: left;*/
	height: 100vh;
	width: 100%;
	transition: .6s ease-and-out;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}



#style-1::-webkit-scrollbar
{
	width: 5px;
	/*background-color: #F5F5F5;*/
}

#style-1::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	background-color: #171717;
}

.mfp-iframe-holder .mfp-content {
     max-width: 900px;
}

.lightbox-img{
    display: none !important;
}

.lightbox-img:first-child{
    display: block !important;
}